body {
    background-color: #000;
    color: #6bbbe2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px #38bdff;
}
.config-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    background-color: #222;
    border-radius: 5px;
    cursor: pointer;
}
.config-option:hover {
    background-color: #333;
}
.config-option a {
    text-decoration: none;
    color: #217ba7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.config-option i {
    margin-right: 10px;
}