body {
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    background-color: #2f4f7f;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.feed {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #444;
}

.post-content {
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img {
    width: 350px;
    height: 450px;
}
.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-btn {
    background-color: #2f4f7f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.like-btn:hover {
    background-color: #1a3d6f;
}

.likes-count {
    font-size: 14px;
    color: #666;
}

.view-more {
    background-color: #2f4f7f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.view-more:hover {
    background-color: #1a3d6f;
}